* {
    box-sizing: border-box;

}
body {
	font-family:'DIN Next LT W04 Regular';
	font-size: 18px;
	background: white;
	overflow: hidden;
}
.page-container {
	width: 100%;
	height: 100%;
	position: relative;
	padding: 5px;
	margin: 0 auto;
}
#logo-container {
	height: 450px;
	width: 365px;
	position: absolute;
	left: 50%;
	top:45%;
	transform:translate(-50%,-50%);
}
/*-------------------------------------------------------REMOTE LETTERS*/
.remote-container {
	height: 115px;
	width:auto;
	margin-bottom: 50px;
}
.remote-large {
	font-family: 'Helvetica-Bold';
	font-size: 100px;
	color: black;
	cursor: pointer;
	margin-right: 200px;
	float: left;
	text-decoration: none;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transition-delay:.5s;
	transition-delay:.5s;
}
.remote-large a {
	text-decoration: none;
	color:black;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transition-delay:.5s;
	transition-delay:.5s;
}
.remote div{
    height: 13px;
    width: 13px;
    background-color:black;
    color:#ccc;
    position: absolute;
    z-index: 1;
    pointer-events:none;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    transition-delay:.5s;
}
/*-------------------------------------------------------HOVER LETTERS*/
.remote-large:hover .remote div {
	padding-right: 248px;
	background: #e7e459;
	-webkit-transition-delay:0s;
	transition-delay:0s;
}
.remote-large:hover .sign {
	transform:translate3d(0,-72px,0px);
	transition-delay:.3s;
	-webkit-transition-delay:.3s;
	-moz-transition-delay:.3s;
}
.remote-large:hover #donate {
	transform:translate3d(0,72px,0px);
	transition-delay:.3s;
	-webkit-transition-delay:.3s;
	-moz-transition-delay:.3s;
}
/*.remote-large:hover {
	color:#e7e459;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transition-delay:0s;
	transition-delay:0s;
}*/
.remote-large a:hover {
	color:#e7e459;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transition-delay:0s;
	transition-delay:0s;
}
.remote-large:hover + .remote-large{
	color:#e7e459;
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transition-delay:0s;
	transition-delay:0s;
}
.hide-div {
	width: 250px;
	height:93px;
	position: absolute;
	background: white;
	left:50px;
}
#hide-r {
	top:92px;
}
#hide-m {
	top:257px;
}
#hide-t {
	top:257px;
}
/*-------------------------------------------------------LINK DIVS*/
.sign {
	background: white;	
	color:black;
	height: auto;
	width: auto;
	/*opacity: 0;*/
	position: absolute;
	z-index: -1;
	border: 13px solid #e7e459;
	padding: 13px 20px;
	text-align: center;
	pointer-events:none;
	 -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    transition-delay:.2s;
}
.pages, .pages2 {
	font-size: 20px;
}
#about {
	top: 92px;
	left: 119px;
}
#designers {
	top: 257px;
	left: 102px;
}
#donate {
	top: 275px;
	right: 118px;
}
#re {
	top:79px;
	left:50px;
}
#mo {
	top:244px;
	left: 63px;
}
#te {
	top:350px;
	left:46px;
}
#er {
	top:79px;
	left:292px;
}
#om {
	top:244px;
	left:301px;
}
#et {
	top:350px;
	left:292px;
}
/*-------------------------------------------------------ANIMATING DIVS*/


/*-------------------------------------------------------DRAGGABLE*/
  /*p { 
    clear:both; 
    margin:0; 
    padding:1em 0; 
  }*/
.drag {
    width: 200px;
    height: 100px;
    position: absolute;
} 
.text {
    height:100px;
    width: 146px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 1.4em;
}
#address {
	bottom:15px;
	right:15px;
}
#date {
	bottom:15px;
	left:15px;
}
#name {
	top:15px;
	left:15px;
}

#play {
	top:200px;
	left:400px;
}
#play-button {
	width: 0;
	height: 0;
	border-top: 50px solid transparent;
	border-left: 80px solid #e7e459;
	border-bottom: 50px solid transparent;
	position: absolute;
}

.lines-container {
	width: 80px;
	height: auto;
	position: absolute;
	left: 130px;
	top: -57px;
/*	opacity: 0;
*/	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.lines {
	height:300px;
	width:60px;
	position: relative; 
}

.line {
	height:150px;
	width:2px;
	background: black;
	position: absolute;
}
#one {
	top:0;
	left:0;
}
#two { 
	/*top:10px;
	left:7px;*/
	-webkit-animation: move-two 2s ease-out;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes move-two {
    0% {-webkit-transform: translate(0px,0px);}
    50% {-webkit-transform: translate(7px, 10px);}
    100% {-webkit-transform: translate(0px, 0px); }
}
#three { 
	/*top:20px;
	left:14px;*/
	-webkit-animation: move-three 2s ease-out;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes move-three {
    0% {-webkit-transform: translate(0px,0px);}
    50% {-webkit-transform: translate(14px, 20px);}
    100% {-webkit-transform: translate(0px, 0px); }
}
#four { 
	/*top:30px;
	left:21px;*/
	-webkit-animation: move-four 2s ease-out;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes move-four {
    0% {-webkit-transform: translate(0px,0px);}
    50% {-webkit-transform: translate(21px, 30px);}
    100% {-webkit-transform: translate(0px, 0px); }
}
#five { 
	/*top:40px;
	left:28px;*/
	-webkit-animation: move-five 2s ease-out;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes move-five {
    0% {-webkit-transform: translate(0px,0px);}
    50% {-webkit-transform: translate(28px, 40px);}
    100% {-webkit-transform: translate(0px, 0px); }
}
#six { 
/*	top:50px;
	left:35px;*/
	-webkit-animation: move-six 2s ease-out;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes move-six {
    0% {-webkit-transform: translate(0px,0px);}
    50% {-webkit-transform: translate(35px, 50px);}
    100% {-webkit-transform: translate(0px, 0px); }
}
#seven { 
/*	top:60px;
	left:42px;*/
	-webkit-animation: move-seven 2s ease-out;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes move-seven {
    0% {-webkit-transform: translate(0px,0px);}
    50% {-webkit-transform: translate(42px, 60px);}
    100% {-webkit-transform: translate(0px, 0px); }
}
#eight { 
/*	top:70px;
	left:49px;*/
	-webkit-animation: move-eight 2s ease-out;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes move-eight {
    0% {-webkit-transform: translate(0px,0px);}
    50% {-webkit-transform: translate(49px, 70px);}
    100% {-webkit-transform: translate(0px, 0px); }
}
#nine { 
	/*top:80px;
	left:56px;*/
	-webkit-animation: move-nine 2s ease-out;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes move-nine {
    0% {-webkit-transform: translate(0px,0px);}
    50% {-webkit-transform: translate(56px, 80px);}
    100% {-webkit-transform: translate(0px, 0px); }
}
#ten { 
	/*top:80px;
	left:56px;*/
	-webkit-animation: move-ten 2s ease-out;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes move-ten {
    0% {-webkit-transform: translate(0px,0px);}
    50% {-webkit-transform: translate(63px, 90px);}
    100% {-webkit-transform: translate(0px, 0px); }
}
#eleven { 
	/*top:80px;
	left:56px;*/
	-webkit-animation: move-eleven 2s ease-out;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes move-eleven {
    0% {-webkit-transform: translate(0px,0px);}
    50% {-webkit-transform: translate(70px, 100px);}
    100% {-webkit-transform: translate(0px, 0px); }
}
#twelve { 
	/*top:80px;
	left:56px;*/
	-webkit-animation: move-twelve 2s ease-out;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes move-twelve {
    0% {-webkit-transform: translate(0px,0px);}
    50% {-webkit-transform: translate(77px, 107px);}
    100% {-webkit-transform: translate(0px, 0px); }
}
#thirteen { 
	/*top:80px;
	left:56px;*/
	-webkit-animation: move-thirteen 2s ease-out;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes move-thirteen {
    0% {-webkit-transform: translate(0px,0px);}
    50% {-webkit-transform: translate(84px, 114px);}
    100% {-webkit-transform: translate(0px, 0px); }
}
#fourteen { 
	/*top:80px;
	left:56px;*/
	-webkit-animation: move-fourteen 2s ease-out;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes move-fourteen {
    0% {-webkit-transform: translate(0px,0px);}
    50% {-webkit-transform: translate(91px, 121px);}
    100% {-webkit-transform: translate(0px, 0px); }
}
#fifteen { 
	/*top:80px;
	left:56px;*/
	-webkit-animation: move-fifteen 2s ease-out;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes move-fifteen {
    0% {-webkit-transform: translate(0px,0px);}
    50% {-webkit-transform: translate(98px, 128px);}
    100% {-webkit-transform: translate(0px, 0px); }
}